<!DOCTYPE html>
<html lang='es'>
<head>
  <% if current_page.data.experiment == true and build? %>
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='114785307-5',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
  <% end %>
  <%= partial "partials/gtm_head" if build? %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="https://www.baccredomatic.com/sites/all/themes/custom/foundation_bac/bac-favicon.ico" />
  <title><%= yield_content :title %></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= yield_content :head %>
  <%= stylesheet_link_tag :original %>
  <%= partial 'partials/offcanvas' %>
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script>
    document.createElement( "picture" );
  </script>
  <script src="/javascripts/picturefill.min.js" async></script>
</head>

<body>
  <%= partial "partials/nuevo/header" %>
  <%= partial "partials/nuevo/filters" %>
  <div class="main-wrapper">
    <%= yield %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/javascripts/slick.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/main.js"></script>
  <%= javascript_include_tag :all %>
  <%= partial 'partials/original/scripts' %>
</body>

</html>
