<!DOCTYPE html>
<html lang='es'>
<head>
  <%= partial "partials/gtm_head" if build? %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="https://www.baccredomatic.com/sites/all/themes/custom/foundation_bac/bac-favicon.ico" />
  <title><%= yield_content :title %></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= yield_content :head %>
  <%= stylesheet_link_tag :original %>
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <%= partial 'partials/original/header' %>
  <%= yield %>
</body>

</html>
