<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://www.baccredomatic.com/sites/all/themes/custom/foundation_bac/bac-favicon.ico" />
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || titulo %></title><% unless current_page.data.title.to_s == "Ãndice" %><a class="index-link" href="/">Volver al inicio</a><% end %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :revision %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div></div>
    <h1><%= current_page.data.title || titulo %></h1>
    <%= yield %>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


  <script type="text/javascript">
    $.validate({
        modules : 'date, security',
        lang : 'es'
    });
    $(document).ready(function(){
      $('#cambios-btn').click(function(){
        $('#cambios-container').css('right', 0);
      });
      $('#ocultar-btn').click(function(){
        $('#cambios-container').css('right', '-500px');
      });
      // $('#cambios-form').on('keyup keypress', function(e) {
      //   var keyCode = e.keyCode || e.which;
      //   if (keyCode === 13) {
      //     e.preventDefault();
      //     return false;
      //   }
      // });
    });
  </script>
  </body>
</html>
