<%
@tarjeta = data.tarjetas.productos.find{|t| t[1]['titulo'] == tarjeta[0] }[1]
@form = @tarjeta['formOpa'].present? ? @tarjeta['formOpa'] : @tarjeta['form']
%>

<h4><% if tarjeta[3].nil? %>Tarjeta <%= @tarjeta['titulo'] %><% else %><%= tarjeta[3] %><% end %></h4>
<% unless @tarjeta['variacion'].nil? %>
  <a href="<%= @tarjeta['productPage'] %>">
    <img src="<%= @tarjeta['variacion'][0]['arte']['url'] %>?w=200" alt="Tarjeta <%= @tarjeta['titulo'] %>" />
  </a>
<% end %>
<p class="oneliner"><%= tarjeta[1] %></p>
<p>
<% unless @tarjeta['variacion'].nil? %>
  <% if formato == "ingreso-minimo" %>
     <%= "Ingreso mínimo requerido: &#8353;" + number_with_delimiter(@tarjeta.variacion[0]['color']['salarioMinimo'].to_i, :delimiter => '.').to_s %>
  <% else %>
    <%= tarjeta[2] %>
  <% end %>
<% end %>
</p>
<%= link_to "Más info aquí", @tarjeta['productPage'], :onClick => "ga('send', 'event', 'lp tarjetas - 2017 v2', 'Más info', '#{@tarjeta['titulo']}');", :class => "btn" %>

<%= link_to "Solicitala aquí", @form, :onClick => "ga('send', 'event', 'lp tarjetas - 2017 v2', 'Solicitar - product block', '#{@tarjeta['titulo']}');" %>
