<%
@tarjeta = data.tarjetas.productos.find{|t| t[1]['titulo'] == tarjeta[0] }[1]
@form = @tarjeta['formOpa'].present? ? @tarjeta['formOpa'] : @tarjeta['form']
%>

<%# Aquí hice que se le agregue "de Credomatic" a la tarjeta Club Nación para que la caja sea del mismo tamaño que las de a la par %>
<h4><% if tarjeta[3].nil? %>Tarjeta <%= @tarjeta['titulo'] %><%= " de Credomatic" if @tarjeta['titulo'] == "Club La Nación"%><% else %><%= tarjeta[3] %><% end %></h4>
<% unless @tarjeta['variacion'].nil? %>
  <a href="<%= @tarjeta['productPage'] %>">
    <img src="<%= @tarjeta['variacion'][0]['arte']['url'] %>?w=240" alt="Tarjeta <%= @tarjeta['titulo'] %>" />
  </a>
<% end %>
<p class="oneliner"><%= tarjeta[1] %></p>
<p>
<% unless @tarjeta['variacion'].nil? %>
  <% if formato == "ingreso-minimo" %>
     <%= "<strong>Ingreso mínimo requerido</strong>: &#8353;".html_safe + number_with_delimiter(@tarjeta.variacion[0]['color']['salarioMinimo'].to_i, :delimiter => '.').to_s %>
  <% else %>
    <%= tarjeta[2] %>
  <% end %>
<% end %>
</p>
<%= link_to "Solicitala aquí", @form, :class => "btn", "data-ga_category": "lp tarjetas - 2017", "data-ga_action": "Solicitar - product block", "data-ga_label": @tarjeta['titulo'] %>

<%= link_to "Más información aquí", @tarjeta['productPage'], :class => "btn-ghost", "data-ga_category": "lp tarjetas - 2017", "data-ga_action": "Más info", "data-ga_label": @tarjeta['titulo'] %>
