<% @tarjeta = data.tarjetas.productos.find{|t| t[1]['titulo'] == tarjeta[0] }[1] %>
<h4><% if tarjeta[3].nil? %>Tarjeta <%= @tarjeta['titulo'] %><% else %><%= tarjeta[3] %><% end %></h4>
<% unless @tarjeta['variacion'].nil? %>
  <img src="<%= @tarjeta['variacion'][0]['arte']['url'] %>?w=200" alt="Tarjeta <%= @tarjeta['titulo'] %>" />
<% end %>
<p class="oneliner"><%= tarjeta[1] %></p>
<p>
<% unless @tarjeta['variacion'].nil? %>
  <% if formato == "ingreso-minimo" %>
     <%= "Ingreso mínimo requerido: &#8353;" + number_with_delimiter(@tarjeta.variacion[0]['color']['salarioMinimo'].to_i, :delimiter => '.').to_s %>
  <% else %>
    <%= tarjeta[2] %>
  <% end %>
<% end %>
</p>
<a href="<%= @tarjeta['productPage'] %>" class="btn">Más info aquí</a>
<a href="<%= @tarjeta['form'] %>">Solicitala aquí</a>
