---
page_classes: main
---
<% content_for :title do %><%= producto.titulo %> BAC | Credomatic<% end %>

<% content_for :head do %>
  <meta name="description" content="<%= producto.metaDescripcion %>">
  <meta name="keywords" content="<%= producto.metaTags.join(',') %>">
  <meta name="author" content="Bac | Credomatic">
<% end %>

<%= partial "partials/card/hero", :locals => { :titulo => titulo, :producto => producto} %>

<!-- <section class="feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text">
        <i class="icon-circle icon-circle-user"></i>
        <h2 class="title-secondary">dirigida a los que quieren ahorrar</h2>
        <p>Las tarjetas Cashback se dirigen a personas a las que les gusta comprar en forma segura y práctica,  y acumular dinero por las compras realizadas.</p>
      </div>
    </div>
  </div>
</section> -->

<section>
  <div class="nav-holder">
    <div class="nav-wrap">
      <div class="row" id="section-tarjetas">
        <hr />
        <p class="descrip">Elegí la tarjeta que más te conviene</p>
      </div>
      <div class="visible-xs">
        <div class="container">
          <div class="tab-active-mobile pull-left">
            <img class="hidden-sm" src="<%= producto.variacion.first.arte.url %>?w=55" alt="" />
            <span><%= producto.titulo %></span>
          </div>
          <button type="button" class="nav-wrap-btn">
            <span class="line"></span>
          </button>
        </div>
      </div>
      <nav class="nav nav-cards" >
        <div class="container">
          <% get_variations_by_color(producto).each_with_index do |variacion, index| %>
            <a role="presentation" href="#tab-<%= index + 1 %>" aria-controls="tab-<%= index + 1 %>" role="tab" data-toggle="tab" class="<%= "active" if index == 0 %>">
              <img class="hidden-sm" src="<%= variacion.arte ? "#{variacion.arte.url}?w=55" : "https://placehold.it/55x34" %>" alt="" />
              <%= "#{producto.titulo unless producto.nil? } #{variacion.color.titulo unless variacion.color.nil?}" %>
            </a>
          <% end %>
          <div class="button hidden-xs">
            <a href="<%= producto.form %>" class="btn btn--green"><%= data.links.cta %></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="tabs">
    <% get_variations_by_color(producto).each_with_index do |variacion, index| %>
      <div role="tabpanel" class="tab-pane<%= " active" if index == 0 %>" id="tab-<%= index + 1 %>">
        <div class="tabs-heading">
          <p class="text-center">Para obtener esta tarjeta debes contar con un ingreso mínimo de <%= get_salario_minimo(producto, variacion) %> netos</p>
        </div>
        <div class="tabs-content">
          <div >
            <div class="container">
              <h2 class="title-secondary"><i class="icon-circle icon-circle-graph"></i> Beneficios</h2>
              <%= partial 'partials/card/beneficios', :locals => { :producto => producto } unless producto.beneficiosGenerales.nil? %>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <img class="feature-icon" src="/images/icon-cards.png" alt="" />
                  <p class="feature-text">
                    <% if get_product_brands(producto).count > 1 %>
                      <%= "Este programa se encuentra disponible en las marcas #{get_product_brands(producto).join(', ')}".gsub(/,(?=[^,]+$)/, " y ") %>
                    <% else %>
                      Este programa se encuentra disponible únicamente en la marca <%= get_product_brands(producto)[0] %>
                    <% end %>
                  </p>
                </div>
                <div class="col-xs-12 col-sm-8 text-center">
                  <div class="card-image <%= @cantidad_de_variaciones %>">
                    <img src="<%= variacion.arte ? "#{variacion.arte.url}?w=300" : "https://placehold.it/306x222" %>" alt="<%= variacion.titulo %>" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= partial "partials/card/condiciones", :locals => {:producto => producto, :variacion => variacion} %>
        <%= partial "partials/card/intereses", :locals => {:producto => producto, :variacion => variacion} %>


      </div>
    <% end %>
  </div>
</section>


<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-8">
        <h2 class="title">¿Te decidiste por la tarjeta <%= producto.titulo %>?</h2>
        <p class="description">Iniciá ahora mismo la solicitud, totalmente en línea.</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-md-push-1">
        <a href="#" class="btn btn--green btn--big"><%= data.links.cta %></a>
      </div>
    </div>
  </div>
</section>
