---
layout: layout
page_classes: secondary-page
hero:
  title: Un mundo de posibilidades
  text: Nuestras tarjetas tienen beneficios para todas las necesidades. ¿Cuál es la tuya?
---
<%= partial 'partials/index/hero' %>
<%= partial 'partials/index/beneficios' %>
<%= partial "partials/index/navigation" %>
<div class="row section-container-2">
  <div class="container">
    <%= partial "partials/index/tarjetas_odd", :locals => {
      :categoria => 'cashback',
      :title => "Tarjetas Cashback",
      :section => 1
    } %>
    <%= partial "partials/index/tarjetas_even", :locals => {
      :categoria => 'supermercados',
      :title => "Tarjetas de Supermercados",
      :section => 2
    } %>
  </div>
</div>
<div class="row section-container-3">
  <div class="container">
    <%= partial "partials/index/tarjetas_odd", :locals => {
      :categoria => 'viajes',
      :title => "Tarjetas de viajes",
      :section => 3
    } %>
    <%= partial "partials/index/tarjetas_even", :locals => {
      :categoria => 'promocionales',
      :title => "Tarjetas promocionales",
      :section => 4
    } %>
  </div>
</div>
<section id="section-5" data-section="5">
  <div class="container">
    <%= partial "partials/index/tarjetas_odd", :locals => {
      :categoria => 'estilo-de-vida',
      :title => "<i class='icon'></i>Tarjetas de estilos de vida",
      :section => 0
      } %>
  </div>
</section>
<%= partial 'partials/index/banner' %>
