---
layout: revision
title: Índice
---
<p>En esta página encontrará todas las tarjetas de Credomatic. Para ver los detalles de cada una, haga click en el nombre en la columna de la izquierda.</p>
<table>
  <tbody>
    <% data.tarjetas.productos.each do |producto| %>
      <tr>
        <td>
          <a href="/<%= producto[1].titulo.parameterize %>.html"><%= producto[1].titulo %></a>
        </td>
        <td>
          <ul class="lista-de-imagenes-de-tarjeta">
            <% producto[1]['variacion'].sort_by { |k| k.emisor.nombre}.each do |variacion| %>
              <li>
                <% if variacion.arte.nil? %>
                  <img src="http://placehold.it/60x38/F46E3C/FFFFFF?text=X">
                <% else %>
                  <img src="<%= variacion.arte.url %>?w=60" />
                <% end %>
                <%= variacion.color.titulo unless variacion.color.nil? %>
                <%= variacion.emisor.nombre unless variacion.emisor.nil? %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
