---
layout: layout
page_classes: secondary-page
---
<%= partial 'partials/index/hero' %>
<%= partial 'partials/index/beneficios' %>
<%= partial "partials/index/navigation" %>
<div class="row section-container-2">
  <div class="container">
    <%= partial "partials/index/cashback" %>
    <%= partial "partials/index/supermercados" %>
  </div>
</div>
<div class="row section-container-3">
  <div class="container">
    <%= partial "partials/index/viajes" %>
    <%= partial "partials/index/promocionales" %>
  </div>
</div>
<section id="section-5" data-section="5">
  <div class="container">
    <%= partial "partials/index/estilo" %>
  </div>
</section>
<%= partial 'partials/index/banner' %>
