<div class="row inverse" id="section-2" data-section="2">
  <div class="hidden-xs col-sm-5 col-md-5 media rotate-card-2">
    <div class="bg-cards"></div>
    <% get_grouped_products('supermercados').each_with_index do |producto, index| %>
      <div role="tabpanel" class="tab-pane <%= 'active' unless index > 0 %>" id="supermercado-<%= index + 1%>">
        <img class="image-tab" src="<%= producto[1]['variacion'][0]['arte']['url'] unless producto[1]['variacion'][0]['arte'].nil? %>?w=350" alt="" />
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-2">
    <h2>Tarjetas de supermercados</h2>
    <p><%= get_category_description('supermercados') %></p>
    <ul class="hidden-xs col-sm-7 col-md-7 list-unstyled tab-nav">
      <% get_grouped_products('supermercados').each_with_index do |producto, index| %>
        <li <%= 'class="active"' unless index > 0 %>><a href="#supermercado-<%= index + 1%>" role="presentation" role="tab" data-toggle="tab"><%= producto[1]['titulo'] %></a></li>
      <% end %>
    </ul>
    <a class="hidden-xs col-sm-7 col-md-7 orphan-link1" href="">VER DETALLES</a>
  </div>

  <div class="col-xs-12 visible-xs">
    <div class="carousel">
      <% get_grouped_products('supermercados').each_with_index do |producto, index| %>
        <div role="tabpanel" class="tab-pane <%= 'active' unless index > 0 %>" id="tarjeta-<%= index + 1%>">
          <img class="image-tab" src="<%= producto[1]['variacion'][0]['arte']['url'] unless producto[1]['variacion'][0]['arte'].nil? %>" alt="" />
          <div class="visible-xs button-mobile">
            <a href="" class="orphan-link1"><%= producto[1]['titulo'] %></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
