<div class="row" <%= get_row_classes(section) %>>
  <%= partial "partials/index/product_nav", :locals => {:extraclass => nil, :categoria => categoria, :title => title } %>
  <div class="col-xs-12 col-sm-6 col-md-7">
    <div class="carousel">
      <% get_grouped_products(categoria).each_with_index do |producto, index| %>
        <div role="tabpanel" class="tab-pane rotate-card-1 <%= 'active' unless index > 0 %>" id="<%= "#{categoria}-#{index + 1}" %>">
          <%= partial "partials/index/imagen_tarjeta", :locals => { :producto => producto, :w => 450} %>
          <div class="visible-xs button-mobile">
            <a href="<%= "/#{producto[1]['titulo'].parameterize}.html" %>" class="orphan-link1"><%= producto[1]['titulo'] %></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
