<div class="row" id="section-3" data-section="3">
  <div class="col-xs-12 col-sm-6 col-md-5">
    <h2>Tarjetas de viajes</h2>
    <p><%= get_category_description('viajes') %></p>
    <ul class="hidden-xs col-sm-7 col-md-7 list-unstyled tab-nav">
      <% get_grouped_products('viajes').each_with_index do |producto, index| %>
        <li <%= 'class="active"' unless index > 0 %>><a href="#viaje-<%= index + 1%>" role="presentation" role="tab" data-toggle="tab"><%= producto[1]['titulo'] %></a></li>
      <% end %>
    </ul>
    <a class="hidden-xs col-sm-7 col-md-7 orphan-link1" href="">VER DETALLES</a>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-7">
    <div class="carousel">
      <% get_grouped_products('viajes').each_with_index do |producto, index| %>
        <div role="tabpanel" class="tab-pane rotate-card-1 <%= 'active' unless index > 0 %>" id="viaje-<%= index + 1%>">
          <img class="image-tab" src="<%= producto[1]['variacion'][0]['arte']['url'] unless producto[1]['variacion'][0]['arte'].nil? %>?w=450" alt="" />
          <div class="visible-xs button-mobile">
            <a href="" class="orphan-link1"><%= producto[1]['titulo'] %></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
